:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.título {
    text-align: center;
    font-size: 3.8rem;
    
}

.título span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
   /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/
    margin: 0 auto;
}

.navegación-principal {
    background-color: var(--secundario);
    /* margin-top: 10rem */
    /* margin: 0 auto */
    display: flex;
    flex-direction: column;
    /* justify-content es para las filas (row) y align-item es para las columnas */
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegación-principal a {
    /*background-color: var(--primario);*/
    color: var(--blanco);
    /*display: block;*/
    text-decoration: none;
    padding: 1rem;
}

.navegación-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (min-width: 768px) {
    .navegación-principal{
        flex-direction: row;
    }
}